<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="browser" value="chrome"></parameter>
  <test name="Test">
    <classes>
     
    	<class name="com.yoloj.TestCases.TC_Login_Retest"/> 
    	 <class name="com.yoloj.TestCases.TC_ProviderLogin_Retest"/>
     	 <class name="com.yoloj.TestCases.TC_ProviderRegister_Retest"/>  
      	<class name="com.yoloj.TestCases.TC_ProviderRegister_OrgDetails"/>
     	<class name="com.yoloj.TestCases.TC_ProviderRegister_ServiceDetails"/> 
     	<class name="com.yoloj.TestCases.TC_UserRegister_Retest"/>
    	 <class name="com.yoloj.TestCases.TC_UserRegister_02"/>
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
